@model ASPNETMVCCRUD.Models.AddEmployeeViewModel
@{
}

<h1>Add Employee</h1>
<form method="post" action="Add" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Ad</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Email Adresi</label>
    <input type="email" class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Aylık Maaş</label>
    <input type="number" class="form-control" asp-for="Salary">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Doğum Tarihi</label>
    <input type="date" class="form-control" asp-for="DateOfBirth">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Departmant</label>
    <input type="text" class="form-control" asp-for="Departmant">
  </div>
  
  <button type="submit" class="btn btn-primary">Ekle</button>
</form>