@model ASPNETMVCCRUD.Models.UpdateEmployeeViewModel

@{
}

<h1>Edit Employee</h1>
<form method="post" action="View" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Id</label>
    <input type="text" class="form-control" asp-for="Id" readonly>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Ad</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Email Adres</label>
    <input type="email" class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Aylık Maaş</label>
    <input type="number" class="form-control" asp-for="Salary">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Doğum Tarihi</label>
    <input type="date" class="form-control" asp-for="DateOfBirth">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Departmant</label>
    <input type="text" class="form-control" asp-for="Departmant">
  </div>
  
  <button type="submit" class="btn btn-primary"asp-action="View">Güncelle</button>
  
  <button type="submit" class="btn btn-danger"
          asp-action="Delete"
          asp-asp-controller="Employees">Sil</button>
</form>
